/* Global Selectors */

/* Reset all default values and set font family */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    text-decoration: none;
}

body {
    background-color: #eee;
}

/* Header */

header {
    display: flex;
    width: 100vw;
    background-color: #0e1013;
    padding: 20px 50px;
    height: 10vh;
}

/* Header Logo Section */

header .logo {
    flex-grow: 1;
}

header .logo img {
    height: 100%;
}

/* End Header Logo Section */

/* Header Navbar Section */

header nav {
    flex-grow: 1;
    align-self: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header nav ul li:hover {
    cursor: pointer;
    background-color: crimson;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header nav ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

/* End Header Navbar Section */

/* End Header */

/* Footer Section  */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0e1013;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}

footer span {
    font-weight: bold;
}

/* End Footer Section  */

div.container {
    width: 70vw;
    margin: 50px auto 100px auto;
}

section {
    margin-bottom: 20px;
}

/* End Global Selectors */

/* Index Page */

section.index img {
    width: 100%;
}

/* End Index Page */

/* Roadmap Page */

div.roadmap section.description h1 {
    text-align: center;
    color: crimson;
    margin-bottom: 30px;
}

div.roadmap section.description p span {
    color: crimson;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

section.content-description {
    display: flex;
    width: 100%;
}

section.content-description .container-left,
section.content-description .container-right {
    width: 50%;
}

section.top {
    margin-top: 200px;
    text-align: center;
}

section.top a {
    color: crimson;
    font-weight: bold;
}
/* End Roadmap Page */

/* Register Page */

section.register p {
    color: crimson;
    margin-left: 20px;
}
section.register table {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
}

section.register table label {
    display: block;
    text-align: right;
    margin-right: 20px;
}

section.register table label span.required {
    color: red;
}

/* Form Elements Styling */

section.register form input,
section.register form select,
section.register form textarea {
    padding: 10px 20px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

section.register form input#email,
section.register form input#alt-email,
section.register form input#name,
section.register form input#phone,
section.register form input#address,
section.register form input#mob-phone,
section.register form input#pass,
section.register form input#confirm-pass,
section.register form select,
section.register form textarea {
    width: 100%;
}

section.register form input[type="checkbox"] {
    margin-top: 20px;
    margin-right: 10px;
}

section.register form input[type="submit"],
section.register form input[type="reset"] {
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid rgb(127, 127, 127);
}

section.register form input[type="submit"]:hover,
section.register form input[type="reset"]:hover {
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* End Form Elements Styling */

/* Phone Row Styling */

tr.phone-row div.phone-description {
    margin-bottom: 10px;
}

tr.phone-row div.phone-content input#country-code {
    width: 90px;
}
tr.phone-row div.phone-content input#city-code {
    width: 62px;
}
tr.phone-row div.phone-content input#phone-number {
    width: calc(100% - 181px);
}

/* End Phone Row Styling */

/* End Register Page */
