/* General */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.slider-container {
    position: relative;
    padding: 20px;
    width: 2000px;
    height: 700px;
}

.slider-controls {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
}

i {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    cursor: pointer;
    z-index: 9999;
    color: rgb(238, 238, 238);
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}
i:hover {
    opacity: 1;
}

.bor {
    border-radius: 1px solid red;
    -webkit-border-radius: 1px solid red;
    -moz-border-radius: 1px solid red;
    -ms-border-radius: 1px solid red;
    -o-border-radius: 1px solid red;
}

i#next-photo {
    right: 0;
}

i#prev-photo {
    left: 0;
}

.imgs-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.imgs-container::after {
    position: absolute;
    width: 100%;
    height: 60%;
    content: "";
    background-color: rgba(0, 0, 0, 0.343);
}

div.img {
    display: none !important;
    flex-grow: 1;
    color: white;
    height: 60%;
    background-color: cadetblue;
}

div.img {
    /* height: 70%; */
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

div.img.selected,
div.img.prev,
div.img.next {
    display: flex !important;
    width: 100%;
}

div.img.selected {
    z-index: 500;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    order: 2;
}

div.img.next {
    order: 3 !important;
}

div.img.prev {
    order: 1;
}

.slider-preview {
    display: inline-flex;
    /* border: 1px solid crimson; */
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative;
    left: -17px;
}

.slider-preview li {
    width: 40px;
    height: 7px;
    background-color: rgb(216, 216, 216);
    margin: 3px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.slider-preview li.active {
    background-color: rgb(101, 101, 101);
}

div.img:nth-child(1) {
    background-color: #420f8d;
}
div.img:nth-child(2) {
    background-color: #e74c3c;
}
div.img:nth-child(3) {
    background-color: #3498db;
}
div.img:nth-child(4) {
    background-color: #f2b705;
}
div.img:nth-child(5) {
    background-color: #33691e;
}
div.img:nth-child(6) {
    background-color: #374140;
}
div.img:nth-child(7) {
    background-color: #252525;
}
div.img:nth-child(8) {
    background-color: #f2600c;
}
div.img:nth-child(9) {
    background-color: #ab47bc;
}
