<ul class="flex gap-10 text-xl   text-slate-100 uppercase font-semibold">
        <li class="flex transition-colors  cursor-pointer   "><a [routerLinkActiveOptions]="{exact:true}"
                        routerLinkActive="nav-active" routerLink="/users"
                        class="hover:text-slate-400 hover:underline  w-full">Home</a>
        </li>
        <li class="flex transition-colors  cursor-pointer  "><a [routerLinkActiveOptions]="{exact:true}"
                        routerLinkActive="nav-active" routerLink="/users/add"
                        class=" hover:text-slate-400 hover:underline w-full">Add</a>
        </li>
</ul>