/* General */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body {
    background-color: rgba(238, 238, 238, 0.834);
}

/* .background-overlay {
    overflow: hidden;
    z-index: -9999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-position-y: -80px;
    background-position-x: 54%;
    background-size: 110%;
    background-attachment: fixed;
} */

div.container {
    width: 60% !important;
    height: 100%;
    /* padding: 100px 0 !important; */
    /* margin: auto auto; */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
}

div.todos-container {
    margin-top: 100px;
    font-size: 20px;
}

div.todo-container {
    background-color: transparent;
    padding: 100px 0;
}

form {
    background-color: #fff;
    padding: 90px 70px;
    margin: auto;
    width: 70%;
    height: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

div.notification {
    background-color: rgb(206, 18, 28);
    color: white;
    padding: 15px 10px;
    width: 70%;
    margin: auto;
    font-size: 19px;
    visibility: hidden;
}

div.notification.active {
    visibility: visible;
}

form input {
    border-radius: 2px !important;
    font-size: 18px !important;
    border: 1px solid transparent !important;
    background-color: rgb(243, 243, 243) !important;
    border-radius: 0px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    outline: none !important;
}

form input.invalid {
    border: 1px solid rgba(206, 18, 27, 0.672) !important;
}

form input.invalid::placeholder {
    color: rgba(206, 18, 27, 0.579) !important;
}

input:focus,
input:hover {
    outline: none !important;
    border: 1px solid transparent !important;
}

input:hover::placeholder {
    color: rgba(92, 91, 91, 0.798) !important;
}
input:focus::placeholder {
    color: transparent !important;
}

*:focus {
    transform: scale(103%);
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

form button {
    font-size: 20px !important;
    text-transform: uppercase;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

form input::placeholder {
    color: rgba(92, 91, 91, 0.56) !important;
    text-transform: uppercase;
    font-size: 18px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.register {
    font-weight: bold;
}

li.todo,
div.no-todo {
    outline: none !important;
    font-size: 22px;
    cursor: pointer;
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

div.no-todo {
    display: none;
}

div.no-todo.active {
    display: block;
}

li.todo.completed {
    background-color: rgb(240, 240, 240);
    text-decoration: line-through;
}

.card-container {
    width: 100% !important;
}

li.todo:hover {
    background-color: rgba(238, 238, 238, 0.824) !important;
}

.show-todo-controls {
    display: none;
    position: absolute;
    top: 50%;
    right: 1%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* z-index: 10000; */
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
    font: var(--fa-font-solid);
    content: "\f141";
    cursor: pointer;
    color: crimson;
}

.show-todo-controls.active {
    display: block;
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
}

li[contenteditable] {
    background-color: crimson !important;
    color: white;
    width: 100% !important;
    color: 100% !important;
    overflow: hidden !important;
    transform: scale(100%);
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
}
li[contenteditable]:focus,
li[contenteditable]:hover {
    background-color: crimson !important;
}

ul.controls-container {
    text-align: center;
    /* font-weight: bold; */
    font-size: 17px;
    position: absolute;
    top: 53%;
    right: -4.5%;
    z-index: 10000;
    cursor: pointer;
    display: none;
    z-index: 99999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0.5px solid rgb(185, 183, 183);
    transition: all 0.3s ease-in-out;
}

ul.controls-container.active {
    display: inline-block;
}

ul.controls-container li {
    padding: 10px 50px;
    /* background-color: #eee !important; */
}

ul.controls-container li:hover {
    background-color: crimson;
    color: white;
}
