/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* for debugging */
.bor {
    border: 1px solid red;
    padding: 5px;
}

body {
    background: #f0f0f0;
    width: 100vw;
    height: 100vh;
}

.video-info {
    background-color: rgba(0, 0, 0, 0.807);
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}
section#video-player video {
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}

.video-controls i {
    cursor: pointer;
}

.video-controls i:hover,
.video-controls i.active {
    color: rgb(222, 62, 62);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.video-info progress {
    height: 40px;
    position: relative;
    background-color: rgb(222, 62, 62);
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
progress::-moz-progress-bar {
    background-color: rgb(222, 62, 62);
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}
progress::-webkit-progress-value {
    background-color: rgb(222, 62, 62);
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

progress:before {
    content: attr(data-label);
    font-size: 0.6em;
    position: absolute;
    top: 50%;
    color: rgba(0, 0, 0, 0.807);
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

progress:hover {
    background-color: rgb(169, 44, 44);
}
progress:hover::-moz-progress-bar {
    background-color: rgb(169, 44, 44);
}
progress:hover::-webkit-progress-value {
    background-color: rgb(169, 44, 44);
}

input[type="range"] {
    cursor: pointer;
}

video {
    cursor: pointer;
}
